<!DOCTYPE html>
<html>
<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>
<body>
<!-- GOOGLE PLUS SIGN IN BUTTON-->
          <div id="signInButton">
          <span class="g-signin"
{#                what google resource we want to be access#}
            data-scope="openid email"
            data-clientid="425355400737-6jcckrjn1qk5kt813qavqei2gf8p36k2.apps.googleusercontent.com"
{#                enable one time use code flow#}
            data-redirecturi="postmessage"
{#                server can make request even if the user isn't logged in in#}
            data-accesstype="offline"
{#                determine the scope of urls that's can access the cookie#}
{#                  single host name for website and has no subdomain#}
            data-cookiepolicy="single_host_origin"
{#                    give one time use code along with an access token            #}
            data-callback="signInCallback"
{#              user has to login each time he visit login page#}
            data-approvalprompt="force">
          </span>
        </div>
<!--END GOOGLE PLUS SIGN IN BUTTON -->

<div id="result"></div>



<!--END FACEBOOK SIGN IN -->
<script>

function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful'
      // message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
        //don't process the response into string
      processData: false,
        // the one time use code
      data: authResult['code'],
        // we are sending  binary stream of data
      contentType: 'application/octet-stream; charset=utf-8',

      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/";
         }, 4000);

      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }

  }); } }
</script>



<!--END GOOGLE PLUS SIGN IN -->

  </body>

  </html>